html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.card {
  background: red;
  width: 100px;
  height: 100px;

  .header {
    background: pink;
    height: 50%;
  }

  @media (max-width: 900px) {
    background: blue;
  }
}
