html, body {
  height: 100%;
  overflow: hidden;
}

body {
  .hello {

  }

  border: none;
  margin: 0;
}

.card {
  background: red;
  width: 100px;
  height: 100px;
}

.card .header {
  background: pink;
  height: 50%;
}
